/* Estilizar o CSS em geral */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilizar as fontes de títulos e textos do site */

.cor-texto {
    color: #ffffff;
    text-decoration: none;
} 

body {
    font-family: "Inter", sans-serif;
}

/* Estilizando o layout global */

.container {
    /* border: 3px solid #468680; */
    margin: 0 auto;
    max-width: 1440px;
}

/* Estilizando o cabeçalho */

header {
    /* border: 3px solid peru; */
    background-color: #9349AC;
    width: 100%;
    padding: 0 20px;
}

/* Estilzando a logo */

.ajuste-imagem {
    /* border: 3px solid #097956; */
    width: 255px;
    height: 90px;
}

.logomarca img {
    width: 100%;
}

/* Estilizando as informações do cabeçalho */

.layout-infos {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}

/* Estilizando o botão da home */

.ajuste-home {
    /* border: 3px solid blue; */
    border-radius: 10px;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 15px;
    background-color: #4C48BF;
}

.ajuste-home .home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home i {
    font-size: 50px;
}

.home p {
    padding-left: 5px;
}

/* Estilizando o botão de login/entre */

.ajuste-login {
    /* border: 3px solid snow; */
    background-color: #4C48BF;
    padding-left: 5px;
    cursor: pointer;
    padding-right: 15px;
    border-radius: 10px;
}

.ajuste-login .login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login i {
    font-size: 50px;
}

.login p {
    padding-left: 5px;
}

/* Estilizando o botão de cadastro */

.ajuste-cadastro {
    /* border: 3px solid orangered; */
    padding-left: 5px;
    padding-right: 15px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #4C48BF;
}

.ajuste-cadastro .cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro i {
    font-size: 50px;
}

.cadastro p {
    padding-left: 5px;
}

/* Estilizando o botão do carrinho */

.ajuste-carrinho {
    /* border: 3px solid olive; */
    background-color: #09F124;
    padding-right: 15px;
    padding-left: 5px;
    cursor: pointer;
    border-radius: 10px;
}

.ajuste-carrinho .carrinho {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrinho i {
    font-size: 50px;
}

.carrinho p {
    padding-left: 5px;
}

.carrinho a {
    color: black;
}

/* Estilizando as informações */

#paragrafo-finalizar-compra {
    text-align: center;
    margin-top: 60px;
}

#informacoes-texto {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

/* Estilizando o formulário */

.formulario {
    /* border: 3px solid teal; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario form {
    /* border: 3px solid aqua; */
    border-radius: 10px;
    background-color: #9349AC;
    padding: 30px;
}

label {
    color: white;
}

.formulario input[type="text"] {
    width: 400px;
    height: 30px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    padding-left: 5px;
    margin-bottom: 15px;
}

#botao {
    background-color: #4C48BF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.centralizar-botao {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilizando a observação */

h3 {
    margin-top: 30px;
    text-align: center;
}

/* Estilizando as formas de pagamento */

#paragrafo-pagamento {
    text-align: center;
    margin: 20px 0;
}

.forma-pagamento {
    /* border: 3px solid black; */
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forma-pagamento i {
    font-size: 30px;
    margin: 0 10px;
    color: blue;
}

.finalizar-compra {
    text-align: center;
    margin-top: 10px;
}

/* Estilizando o rodapé */

footer {
    background-color: #9349AC;
    /* border: 3px solid #574358;  */
    width: 100%;
    margin-top: 90px;
    bottom: 0;
    position: relative;
}

footer p {
    color: white;
}
 
footer a {
    color: white;
    text-decoration: none;
}
 
.ajuste-rodape {
    /* border: 3px solid #597895;  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 20px;
    padding: 20px 0;
    position: relative;
}
 
.ajuste-informacoes p {
    padding: 10px 0;
}
 
.ajuste-informacoes-loja p {
    padding: 10px 0;
}
 
.ajuste-contato p {
    padding: 10px 0;
}

.contatos i {
    font-size: 35px;
    padding: 0 5px;
}

.icones {
    margin-top: 15px;
}